// | -------------------------------------------------------------
// | Globals
// | -------------------------------------------------------------

@use 'base/reset';
@use 'base/root';
@use 'base/font';
@use 'base/list';
@use 'base/container';
@use 'base/breakpoint';
@use 'base/button';
@use 'base/color';
@use 'base/outline';
@use 'base/space-content';
@use 'base/tabbed';

:root {

    /* dynamic spacing adapted from utopia.fyi */
    --space-2xs: clamp(0.31rem, calc(0.18rem + 0.65vw), 0.69rem);
    --space-xs: clamp(0.56rem, calc(0.39rem + 0.87vw), 1.06rem);
    --space-sm: clamp(0.88rem, calc(0.70rem + 0.87vw), 1.38rem);
    --space-md: clamp(1.13rem, calc(0.80rem + 1.63vw), 2.06rem);
    --space-lg: clamp(1.69rem, calc(1.32rem + 1.85vw), 2.75rem);
    --space-xl: clamp(2.25rem, calc(1.60rem + 3.26vw), 4.13rem);
    --space-2xl: clamp(3.38rem, calc(2.64rem + 3.70vw), 5.50rem);
    --space-3xl: clamp(4.50rem, calc(3.20rem + 6.52vw), 8.25rem);
    /* shadows adapted from https: //www.joshwcomeau.com/shadow-palette/ */
    --_shadow-strength: .25;
    --_shadow-saturation: 30%;
    --_shadow-lightness: 62%;
    --_shadow: var(--_hue) var(--_shadow-saturation) var(--_shadow-lightness);
    --shadow-sm:
        0.2px 0.5px 0.6px hsl(var(--_shadow) / var(--_shadow-strength)),
        0.3px 0.8px 1px -1.2px hsl(var(--_shadow) / var(--_shadow-strength)),
        0.8px 1.9px 2.3px -2.5px hsl(var(--_shadow) / var(--_shadow-strength));
    --shadow-md:
        0.2px 0.5px 0.6px hsl(var(--_shadow) / calc(var(--_shadow-strength) + .04)),
        0.6px 1.5px 1.8px -0.8px hsl(var(--_shadow) / calc(var(--_shadow-strength) + .04)),
        1.6px 3.8px 4.6px -1.7px hsl(var(--_shadow) / calc(var(--_shadow-strength) + .04)),
        3.9px 9.3px 11.3px -2.5px hsl(var(--_shadow) / calc(var(--_shadow-strength) + .04));
    --shadow-lg:
        0.2px 0.5px 0.6px hsl(var(--_shadow) / var(--_shadow-strength)),
        1.1px 2.7px 3.3px -0.4px hsl(var(--_shadow) / var(--_shadow-strength)),
        2.1px 5px 6.1px -0.7px hsl(var(--_shadow) / var(--_shadow-strength)),
        3.5px 8.3px 10.1px -1.1px hsl(var(--_shadow) / var(--_shadow-strength)),
        5.6px 13.2px 16.1px -1.4px hsl(var(--_shadow) / var(--_shadow-strength)),
        8.7px 20.7px 25.3px -1.8px hsl(var(--_shadow) / var(--_shadow-strength)),
        13.3px 31.4px 38.4px -2.1px hsl(var(--_shadow) / var(--_shadow-strength)),
        19.6px 46.3px 56.6px -2.5px hsl(var(--_shadow) / var(--_shadow-strength));

    /* border */
    --border-sm: 1px;
    --border-md: 3px;
    --border-lg: 5px;

    /* radius */
    --radius-sm: 0.2em;
    --radius-md: 0.4em;
    --radius-lg: 0.8em;
    --radius-full: 100vmax;

    /* transitions */
    --_tspeed_fast: 150ms;
    --_tspeed_slow: 400ms;
    --_ttiming_ease: cubic-bezier(.3, 0, .7, 1);
    --_ttiming_squish: cubic-bezier(.5, -.3, .1, 1.5);
    --transition-ease-slow: var(--_tspeed_slow) var(--_ttiming_ease);
    --transition-ease-fast: var(--_tspeed_fast) var(--_ttiming_ease);
    --transition-squish-slow: var(--_tspeed_slow) var(--_ttiming_squish);
    --transition-squish-fast: var(--_tspeed_fast) var(--_ttiming_squish);
}

.badge {
    padding: 4px 10px;
    background-color: gray;
    border-radius: var(--radius-sm);
    color: hsl(var(--muted));
    text-decoration: none;
    letter-spacing: 0.054em;
    text-transform: uppercase;
    font-size: var(--fs-sm);


    &:hover {
        color: hsl(var(--muted));
        opacity: 0.8;
    }

    &:focus-visible {
        box-shadow:
            0 0 0 .2em hsl(var(--bkg)),
            0 0 0 .4em hsl(var(--accent));
    }
}


/* cards */
.post_card {
    display: grid;
    background-color: hsl(var(--muted));
    padding: var(--space-md);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);

    & .badge {
        --accent: var(--txt);
    }

    & [aria-hidden="true"] {
        margin-inline: calc(var(--space-md) * -1);
        margin-block: var(--space-md);
    }

    & img {
        box-shadow: var(--shadow-sm);
        object-fit: cover;
    }

    & a {
        text-decoration: none;
    }

    & .content {
        display: grid;
        gap: var(--space-xs);
    }
}

.link {
    --type: transparent;
    --fill: transparent;
    display: flex;
    place-items: center;
    gap: var(--space-2xs);
    width: fit-content;
    padding: calc(var(--space-2xs) * 0.75) var(--space-sm);
    background-color: var(--fill);
    color: var(--dark-100);
    font-size: var(--fs-md);
    border-radius: var(--radius-sm);
    border-width: var(--border-md);
    border-style: solid;
    border-color: transparent;
    text-decoration: none;
    line-height: var(--lh-1);

    &:focus-visible {
        box-shadow: 0 0 0 3px hsl(var(--bkg)), 0 0 0 6px var(--type);
    }

    & * {
        pointer-events: none;
        user-select: none;
    }

    &.primary {
        --type: hsl(var(--primary-500));
    }

    &.secondary {
        --type: hsl(var(--accent));
        color: hsl(var(--dark-100));
    }

    &.filled {
        --fill: var(--primary-500);
        color: hsl(var(--dark-100));
    }

    &.bordered {
        border-color: var(--type);
    }

    &[aria-current="page"] {
        --type: hsl(var(--accent));
    }

    &:hover {
        opacity: .8;
    }
}

.post-content {
    display: grid;
    justify-content: center;
    padding: var(--space-md);
    margin-block: var(--space-lg);
    margin-inline: auto;
    width: 100%;
    max-width: 1500px;

    & div {
        display: grid;
        gap: var(--space-sm);
    }

    & .sidebar {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: var(--space-lg);
        margin-block-start: var(--space-xl);

        @media (--md) {
            margin: 0;
        }

        & aside {
            display: grid;
            gap: var(--space-2xs);
            padding: 0;

            @media (--sm) {
                flex: 1 1 40%;
            }

            @media (--md) {
                text-align: left;
                justify-content: start;
                justify-items: start;

                & .categories {
                    justify-content: start;
                }
            }
        }
    }
}

.sidebar [aria-label="Blog categories"] {
    margin-block: 0;
}